<EditForm Model="@BlindRailing" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Name</label>
        <div>
            <InputText @bind-Value="@BlindRailing.Name"/>
            <ValidationMessage For="@(() => BlindRailing.Name)"/>
        </div>

        <label>Height (cm)</label>
        <div>
            <InputNumber @bind-Value="@BlindRailing.Height"/>
            <ValidationMessage For="@(() => BlindRailing.Height)"/>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {

    [Parameter]
    public BlindRailing BlindRailing { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}