<div class="grid grid-cols-3 gap-8">
    <div class="flex flex-col">
        @* Fabric *@
        <p class="flex-none text-l">Fabric</p>
        <table class="flex-none">
            <tr>
                <td class="text-xs">Total drop</td>
                <td class="text-right">@BlindModel.Height</td>
            </tr>
            <tr>
                <td class="text-xs">Velcro turnings</td>
                <td class="text-right">+ @BlindModel.BlindRailing.Height</td>
            </tr>
            <tr>
                <td class="text-xs">Bottom Bar</td>
                <td class="text-right">+ @(BlindModel.BlindBottomBar.Height * 2)</td>
            </tr>
            <tr class="border-t">
                <td></td>
                <td class="text-right">@_cutLengthFabric</td>
                <td> cm</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        @* Inner linings *@
        <p class="flex-none text-l">Inner Linings</p>
        <div class="flex-grow"></div>
        <table class="flex-none">
            <tr>
                <td class="text-xs">Total drop</td>
                <td class="text-right">@BlindModel.Height</td>
            </tr>
            <tr class="border-t">
                <td class="text-xs">@BlindModel.BlindInnerLining.Name</td>
                <td class="text-right">@_cutLengthInnerLinings</td>
                <td> cm</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        <p class="flex-none text-l">Outer Linings</p>
        <div class="flex-grow"></div>
        <table class="flex-none">
            <tr>
                <td class="text-xs">Fabric cut length</td>
                <td class="text-right">@_cutLengthFabric</td>
            </tr>
            <tr>
                <td class="text-xs">@BlindModel.BlindRod.Name</td>
                <td class="text-right">@_pocketAllowance</td>
            </tr>
            <tr class="border-t">
                <td class="text-xs">@BlindModel.BlindOuterLining.Name</td>
                <td class="text-right">@_cutLengthOuterLinings</td>
                <td> cm</td>
            </tr>
        </table>
    </div>
</div>

@code {

    [Parameter]
    public BlindModel BlindModel { get; set; }

    private double _cutLengthFabric;
    private double _cutLengthInnerLinings;
    private double _cutLengthOuterLinings;
    private double _pocketAllowance;
    
    protected override void OnParametersSet()
    {
        _cutLengthFabric = BlindModel.Height
                           + BlindModel.BlindRailing.Height
                           + BlindModel.BlindBottomBar.Height * 2;

        _cutLengthInnerLinings = BlindModel.Height; // No reductions otherwise

        _cutLengthOuterLinings = _cutLengthFabric
                                 + BlindModel.BlindRod.Height * BlindModel.Folds;
            
        _pocketAllowance = BlindModel.Folds * (BlindModel.BlindRod.Height * 2);
        
        Console.WriteLine("DEBUG => Paperwork cut lengths");
        Console.WriteLine($"DEBUG => Bottom bar... {BlindModel.BlindBottomBar.Name} (id: {BlindModel.BlindBottomBarId})");
        
        base.OnParametersSet();
    }

}