@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using workings.Client.Components.Drawing;

@attribute [Authorize]

@inject HttpClient _httpClient

<h3>Blind Paperwork</h3>
@* Aspect ratio of an A4 page *@
<div class="aspect-w-3 aspect-h-4 border w-full">
    <h2>Details</h2>
    <h3>Client ID: @BlindModel.Id</h3>
    <h3>Client Name: @_businessClient.Name</h3>
    <h3>Customer: @BlindModel.Customer</h3>
    <h3>Reference: @BlindModel.Reference</h3>
    <h3>No. Blinds: @BlindModel.CountBlinds</h3>

    <h2>Dimensions</h2>
    <h3>Width: @BlindModel.Width</h3>
    <h3>Heigth: @BlindModel.Height</h3>
    <h3>No. Widths: @BlindModel.CountWidths</h3>

    <h2>BlindRailing</h2>
    <h3>Id: @BlindModel.BlindRailingId</h3>
    <h3>Type: @_blindRailing.Name</h3>
    <h3>Depth: @BlindModel.BlindRailing.Depth</h3>

    <h2>Stack</h2>
    <h3>Type: @BlindModel.BlindStack.Type</h3>
    @if (BlindModel.BlindStack.Type is BlindStackType.Waterfall)
    {
        <h3>Increments: @BlindModel.BlindStack.Offset</h3>
    }
    @if (BlindModel.BlindStack.Type is BlindStackType.Reveal)
    {
        <h3>Reveal: @BlindModel.BlindStack.Offset</h3>
    }
    <h3>Folds: @BlindModel.Folds</h3>
</div>
<div>
    <h1>Drawing...</h1>
    <Drawing BlindModel="@BlindModel" />
</div>

@code {

    [Parameter]
    public BlindModel BlindModel { get; set; }

    private BusinessClient _businessClient = new();
    private BlindRailing _blindRailing = new();
    
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _businessClient = await _httpClient.GetFromJsonAsync<BusinessClient>(
                $"api/businessclient/{BlindModel.BusinessClientId}"
                );
            
            _blindRailing = await _httpClient.GetFromJsonAsync<BlindRailing>(
                $"api/blindRailing/{BlindModel.BlindRailingId}"
                );
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}