@using workings.Shared
@using System.Diagnostics
@using System.Reflection
@using System.Collections
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using workings.Shared

@attribute [Authorize]

@inject HttpClient _httpClient

<div class="mt-8 max-w-md">
    <h3>BlindForm</h3>
    <EditForm
        Model="@_blindModel"
        OnValidSubmit="@(() => UpdateBlindModel.InvokeAsync(_blindModel))">
        <div class="grid grid-cols-1 gap-6">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            @* Details *@
            <FieldGroup Title="Details">
                <FormField Title="Business Client">
                    <InputSelect class="@_cssSelect" @bind-Value="_blindModel.BusinessClientId">
                        @if (_businessClients != null)
                        {
                            foreach (var businessClient in _businessClients)
                            {
                                <option value="@businessClient.Id">@businessClient.Name</option>
                            }
                        }
                    </InputSelect>
                </FormField>

                <FormField Title="Customer">
                    <InputText class="@_cssText" @bind-Value="_blindModel.Customer"/>
                </FormField>

                <FormField Title="Reference">
                    <InputText class="@_cssText" @bind-Value="_blindModel.Reference"/>
                </FormField>

                <FormField Title="No. Blinds">
                    <InputNumber class="@_cssNumber" @bind-Value="_blindModel.NumBlinds"/>
                </FormField>
            </FieldGroup>

            @* Dimensions *@
            <FieldGroup Title="Dimensions">
                <FormField Title="Width">
                    <InputNumber class="@_cssNumber" @bind-Value="_blindModel.Width"/>
                </FormField>

                <FormField Title="Height">
                    <InputNumber class="@_cssNumber" @bind-Value="_blindModel.Height"/>
                </FormField>

                <FormField Title="No. Widths">
                    <InputNumber class="@_cssNumber" @bind-Value="_blindModel.NumWidths"/>
                </FormField>
            </FieldGroup>

            @* Railing *@
            @*<FieldGroup Title="Railing">
                <Field Title="Type" Type="Field.FieldType.Select" ModelField="@(_blindModel.RailingType)"/>
                <Field Title="Depth" Type="Field.FieldType.Decimal"/>
            </FieldGroup>*@

            @* Stack *@
            @*<FieldGroup Title="Stack">
                <Field Title="Type" Type="Field.FieldType.Select"/>
                <Field Title="Folds" Type="Field.FieldType.Range"/>
            </FieldGroup>*@

            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    public EventCallback<BlindModel> UpdateBlindModel { get; set; }

    private BlindModel _blindModel = new();
    private BusinessClient[] _businessClients;
    private EditContext _editContext = null;

    private string _cssNumber = "form-input block mt-1 w-full";
    private string _cssSelect = "form-select block mt-1 w-full";
    private string _cssText = "form-input block mt-1 w-full";

    protected override async Task OnInitializedAsync()
    {
        if (_blindModel != null) _editContext = new EditContext(_blindModel);

        try
        {
            _businessClients = await _httpClient.GetFromJsonAsync<BusinessClient[]>("api/businessClient");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}